<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">MongoDB Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a class="btn btn-danger scrape-btn">Scrape New Articles</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <div class="caption">
        <h1>Mongo DB Scraper</h1>
        <h4>TechCrunch Edition</h4>
    </div>
</div>

<div class="container-fluid articles">
    <h3>Articles</h3>
    {{#each articles}}
    <div class="card bg-light">
        <div class="card-body">
            <h4 class="card-title">{{title}}</h4>
            <a href="{{url}}" class="card-link" target="_blank">Click for full article</a>
            <p class="card-text">{{description}}</p>
            <a data-articleId="{{_id}}" class="btn btn-outline save-button">Save article</a>
        </div>
    </div>
    {{/each}}
</div>

<footer class="footer">
    <div class="container">
        <p>TechCrunch Scraper</p>
    </div>
</footer>